body {
    margin: 0;
}

.logo {
    width: 200px;
}

.avatar {
    width: 100px;
    border-radius: 50%;
}

header {
    border-bottom: 1px solid #C4C4C4;
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-bottom: 15px;
}